<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SynergyLicenseServer" type="System.Configuration.SingleTagSectionHandler" />
    <section name="SynergyEnvironment" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SynergyLicenseServer value="" />
  <SynergyEnvironment>
    <add key="SYMPHONY_BRDIGE_LIBRARY_FOLDER" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge" />
    <add key="SYMPHONYBRDIGELIBRARYFOLDER" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge" />
    <add key="SYMPHONY_AUTHENTICATION_DATA" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge" />
    <add key="SYMPHONY_BRIDGE_THROW_LICENSE_EXCEPTION" value="TRUE" />
    <add key="SYMPHONY_UNIQUE_DISPATCHERS" value="TRUE" />
    <add key="SYMPHONY_DEBUG_VIEW" value="0" />
    <add key="SYMPHONY_BRIDGE_APPDOMAIN_TIMEOUT" value="60" />
    <add key="SYMPHONY_BRIDGE_LOGGING_FOLDER" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge\Log" />
    <add key="SYMPHONY_BRIDGE_SELLOGGING_FOLDER" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge\SelectLog" />
    <add key="NOT_IN_USE_SYMPHONY_BRIDGE_SERVER_WEB_ADDRESS" value="localhost:8081" />
    <add key="NOT_IN_USE_SYMPHONY_BRIDGE_SERVER_TCP_ADDRESS" value="localhost:8082" />
    <add key="SYMPHONY_BRIDGE_SERVER_WEBAPI_ADDRESS" value="localhost:8083" />
    <add key="SYMPHONY_BRIDGE_SERVER_WEBAPI_VERSION" value="1" />
    <add key="SYMPHONY_BRDIGE_CUSTOM_ROUTINGS" value="AppData.dll" />
    <add key="SYMPHONY_BRIDGE_CUSTOM_HEADER_MNEMONIC" value="Symphony" />
    <add key="SYMPHONY_BRIDGE_SERVER_MESSAGE_SIZE" value="65536000" />
    <add key="NOT_IN_USE_EXAMPLE_SYMPHONY_BRIDGE_SERVER_SERVICE_BUS" value="" />
    <add key="NOT_IN_USE_EXAMPLE_SYMPHONY_BRIDGE_SERVER_SERVICE_KEY" value="" />
    <add key="BRIDGEDATA" value="C:\Program Files (x86)\Synergex\SymphonyFramework\SymphonyBridge\Data\" />
    <add key="EXAMPLE_SYMPHONY_CUSTOM_MAPPING_CLASS" value="" />
    <add key="EXAMPLE_SYMPHONY_AUTHENTICATION_CLASS" value="AppData.Authenticate,AppData" />
    <add key="EXAMPLE_SYMPHONY_IO_HOOK_CLASS" value="" />
    <add key="SYMPHONY_EXPOSE_CATALOGUE_INFO" value="true" />
    <add key="SFEDATA" value="C:\Users\Public\Documents\SFEData" />
  </SynergyEnvironment>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  </appSettings>
</configuration>