<configuration>
  <configSections>
    <section name="SynergyLicenseServer" type="System.Configuration.SingleTagSectionHandler" />
    <section name="SynergyEnvironment" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SynergyLicenseServer value="" />
  <SynergyEnvironment>
    <add key="SFEDATA" value="C:\Users\Public\Documents\SFEData" />
  </SynergyEnvironment>
</configuration>